<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <h1>스프링 부트 AWS 공부</h1>
    <p>Mustache 템플릿 엔진 사용</p>
</body>
</html>